body {
    display: flex;
    flex-direction: column;
font-family: 'Roboto';
margin: 0;
min-height: 100dvh;
}
main {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}
.main-dextop {
    display: flex;
    flex-direction: column;
    flex-grow: 1;

}
.main-header {
display: flex;
flex-direction: column;
justify-content: space-between;
position: fixed;
width: 768px;
height: 100dvh;
left: -768px;
top: 0;
transition: transform .5s;
}
.header-container {
display: flex;
flex-direction: column;
justify-content: space-between;
    height: 100dvh;
    background-color: #151B1F;
}
.opacity-container {
    display: none;
}
body.open .main-header {
transform: translateX(100%);
}
.slider {
    display: none;
}
.container {
    display: flex;
    justify-content: space-between;
}
.burger-btn {
    position: relative;
    width: 35px;
    height: 35px;
    margin-top: 16px;
    margin-left: 16px;
    cursor: pointer;
}
.sidebar {
    display: none;
}
.burger-btn span {
position: absolute;
width: 19px;
height: 0px;
left: 5.57px;
top: 16px;
border: 2px solid #151B1F;
border-radius: 5px;
transition: transform .5s, opacity .5s, background-color .5s;
}
.burger-btn span:nth-child(1) {
    transform: translateY(-10px);
}
.burger-btn span:nth-child(2) {
    transform: translateY(10px);
}
body.open .burger-btn span:nth-child(3) {
opacity: 0;
}
body.open .burger-btn span:nth-child(1) {
    transform: translateY(0) rotate(45deg);
    border: 2px solid white;
    }
body.open .burger-btn span:nth-child(2) {
    transform: translateY(0) rotate(-45deg);
    border: 2px solid white;
    }
.navigation {
    margin-top: 80px;
    margin-left: 28px;
    padding: 0;
}
.navigation-link {
    list-style-type: none;
    padding-bottom: 20px;
}
.navigation-link a:hover {
    color: #0EC261;
}
.navigation-link a {
text-transform: uppercase;
text-decoration: none;
font-weight: 500;
font-size: 22px;
line-height: 26px;
color: #FFFFFF;
}

.language {
font-weight: 700;
font-size: 13px;
line-height: 15px;
color: #0EC261;
text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
margin-bottom: 28px;
margin-left: 28px;
}
.social {
    display: flex;
    list-style-type: none;
    padding: 0;
    margin-top: 38px;
}
.social-link {
    padding-left: 28px;
}
.copy-footer {
    display: none;
}
.name {
margin: 16px 16px 8px;
font-weight: 700;
font-size: 30px;
line-height: 35px;
text-align: right;
color: #0EC261;
}
.city {
font-size: 14px;
color: #999999;
text-decoration: none;
vertical-align: middle;
margin: auto 0;
margin-left: 7px;
}
.language2 {
    display: none;
}
.geo2 {
    display: none;
}
.geo {
width: 93.5px;
height: 18.33px;
left: 210px;
top: 60px;
display: flex;
align-self: flex-end;
margin-right: 16px;
}
.hero h2 {
font-size: 32px;
line-height: 100%;
color: #121212;
margin-left: 16px;
margin-bottom: 6px;
}
.hero span {
font-weight: 700;
font-size: 32px;
line-height: 100%;
color: #0EC261;
margin-left: 16px;
}
.hero p {
font-size: 18px;
line-height: 21px;
color: #999999;
margin-left: 16px;
margin-top: 16px;
margin-bottom: 32px;
}
.button-0 {
width: 100%;
height: 50px;
left: 0px;
top: 273px;
font-size: 18px;
line-height: 21px;
text-align: center;
color: #FFFFFF;
background: linear-gradient(90deg, #0EC261 2.61%, #039F67 112.6%);
background-blend-mode: darken;
border: none;
}
.main-footer {
flex-shrink: 0;
margin: 0;
background: #151B1F;
display: flex;
flex-direction: column;
}
.phone {
font-weight: 400;
font-size: 13px;
line-height: 15px;
color: #0EC261;
order: 0;
margin: 16px 16px 8px;
align-self: flex-end;
}
.copyright {
font-size: 13px;
line-height: 15px;
color: #EEEEEE;
order: 1;
margin: 0 16px 16px;
align-self: flex-end;
}
.dots {
    display: none;
}
.sliders {
    display: none;
}
@media (min-width: 768px) {
.sidebar {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: absolute;
    align-items: center;
    width: 86px;
    background-color: #151B1F;
    height: 100dvh;
}
.burger-btn1 {
    width: 40px;
    height: 40px;
    margin: 16px;
    padding: 5px;
    z-index: 6;
    cursor: pointer;
}
.burger-btn1 span {
    display: block;
    position: absolute;
    margin-top: 20px;
    margin-left: 15px;
    width: 35px;
    height: 0px;
    left: 5.57px;
    top: 16px;
    border: 2px solid white;
    border-radius: 5px;
    transition: transform .5s, opacity .5s, background-color .5s;
    }
    .burger-btn1 span:nth-child(1) {
        transform: translateY(-10px);
    }
    .burger-btn1 span:nth-child(2) {
        transform: translateY(10px);
    }
    body.open .burger-btn1 span:nth-child(3) {
    opacity: 0;
    }
    body.open .burger-btn1 span:nth-child(1) {
        transform: translateY(0) rotate(45deg);
        border: 2px solid white;
        }
    body.open .burger-btn1 span:nth-child(2) {
        transform: translateY(0) rotate(-45deg);
        border: 2px solid white;
        }
    .navigation {
        margin-left: 114px;
        }
    .main-header {
        width: 1024px;
        left: -1024px;
    }
    .social {
        margin-left: 114px;
    }
.main-footer {
    background-color: white;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 22px;
}
.phone {
    order: 1;
    margin: 0;
align-self: flex-end;
margin: 0 36px 16px;
color: #121212;
}
.copyright {
    color: gray;
    margin-left: 117px;
align-self: flex-end;
}
.name {
    margin-left: 68px;
    margin-top: 32px;
    flex-grow: 1;
text-align: start;
}
.geo {
   display: none;
}
.geo2 {
    width: 93.5px;
height: 18.33px;
left: 210px;
top: 60px;
display: flex;
align-self: flex-end;
margin-right: 16px;
margin-bottom: 16px;
}
.hero {
    margin-left: 118px;
 margin-top: 163px;
}
.hero h2 {
    margin: 0;
font-weight: 700;
font-size: 70px;
line-height: 100%;
}
.hero span {
font-weight: 700;
font-size: 70px;
line-height: 66px;
margin: 0;
}
.hero p {
font-size: 26px;
line-height: 30px;
margin: 0;
margin-top: 36px;
}
.button-0 {
margin-top: 60px;
width: 250px;
height: 48px;
left: 118px;
top: 489px;
border-radius: 7px;
}
.language2 {
display: block;
font-weight: 700;
margin-bottom: 30px;
font-size: 13px;
line-height: 48px;
color: #0EC261;
text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
cursor: pointer;
}
body.open .language2 {
    display: none;
}
.header-nav {
    margin-left: 10px;
}
.navigation-link a {
font-weight: 500;
font-size: 28px;
line-height: 33px;
}
.header-container {
    justify-content: center;
}
.social {
    margin-left: 87px;
}
}
@media (min-width: 1024px) {
    .slider {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        opacity: 0;
        transition: opacity 0.5s ease;
        background-size: cover;
    }
    .sliderContent {
        margin-right: 64px ;
        margin-left: 64px ;
    }
    main {
        flex-direction: row;
        justify-content: space-between;
    }
    .sliders {
        display: flex;
        justify-content: space-between;
        width: 410px;
        height: 100dvh;
        position: relative;
        overflow: hidden;
        background-color: #039F67;
        flex-grow: 1;
    }
    .sliders .prev-left {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        z-index: 1;
        left: 10px; 
    }
    .sliders .next-right {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        z-index: 1;
        right: 10px;
    }
    .prev,
    .next {
width: 32px;
height: 100dvh;
z-index: 2;
background: none;
border: none;
}

.prev:hover,
.next:hover {
background: #0ec26231;
cursor: pointer;
}
.slider.active {
    opacity: 1;
    }
.slider h2 {
font-size: 32px;
line-height: 38px;
color: #FFFFFF;
}
.slider p {
font-family: 'Roboto';
font-style: normal;
font-size: 22px;
line-height: 100%;
color: #EEEEEE;
}
.button-1 {
background: linear-gradient(90deg, #13493F 0%, #0C7B1B 100%);
border-radius: 4px;
width: 164px;
height: 48px;
left: 0px;
top: 273px;
font-size: 18px;
line-height: 21px;
text-align: center;
color: #FFFFFF;
background-blend-mode: darken;
border: none;
}
.slider:nth-child(2) {
    background: url(img/car2.jpg) no-repeat 50% 50% / cover;
}
.slider:nth-child(3) {
    background: url(img/car3.jpg) no-repeat 50% 50% / cover;
}
.slider:nth-child(4) {
    background: url(img/car4.jpg) no-repeat 50% 50% / cover;
}
.slider:first-child {
    background: url(img/car1.jpg) no-repeat 50% 50% / cover;  
}
.hero {
    margin-right: 36px;
}
.main-footer {
    display: none;
}
.copy-footer {
display: flex;
justify-content: space-between;
margin-bottom: 22px;
flex-shrink: 0;
}
.phone {
    order: 1;
    margin: 0;
align-self: flex-end;
margin: 0 36px 16px;
color: #121212;
}
.copyright {
    color: gray;
    margin-left: 117px;
align-self: flex-end;
}
.main-dextop {
    justify-content: space-between;
    flex-grow: 2;
}
.hero {
    margin-top: 0;
}
.dots {
    display: none;
}
.main-header {
    width: 130%;
    left: -130%;
    z-index: 5; 
}
.language {
    display: none;
}
.sliders .dots {
    display: flex;
    position: absolute;
    bottom: 37px;
    justify-content: center;
    width: 100%;
}
.dot {
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background-color: #EEEEEE;
    margin: 0px 8px;
    z-index: 2;
}
.dot:first-child {
    background-color: #0EC261;
}
.dot:hover {
    cursor: pointer;
}
.navigation-link a {
    font-size: 32px;
}
.main-header {
    flex-direction: row;
}
.header-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100dvh;
    flex-grow: 2;
    background-color: #111518;
}
.opacity-container {
    display: flex;
    width: 450px;
    height: 100dvh;
    flex-grow: 2;
    background-color: #111518;
    opacity: 0.8;
}
.language2:hover {
    border: 2px solid #EEEEEE;
    border-radius: 50%;
    width: 48px;
    color: #eeeeee;
    text-align: center;
}
.language2:active {
    color: #0EC261;
}
}
@media (min-width: 1440px) {
   .main-dextop {
    flex-grow: 1;
   }
body.open .main-dextop {
    background-color: #111518;
   }
body.open .city {
color: #111518;
}
body.open img {
    opacity: 0;
}
.header-container {
    flex-grow: 1;
}
.slider {
    justify-content: center;
}
.slider .button-1 {
    margin-bottom: 200px;
}
.breadcrumb {
  background-color: #f8f9fa;
  border-radius: 4px;
  list-style: none;
  padding: 0;
 
}

.breadcrumb-item {
  display: inline-block;
  margin-right: 16px;
  
}
.breadcrumb-item:not(:first-child) {
    margin-left: 16px;
}
.breadcrumb-item a {
  color: #999999;
  text-decoration: none;
}

.breadcrumb-item.active {
  color: #0EC261;
}
.hero-order-pages {
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid #999;
    border-top: 1px solid #999;

}
.order-page {
    display: flex;
    flex-direction: column;
    justify-content: start;
}
.content-order-page {
    display: flex;
    flex-direction: column;
}
.super-container {
    display: flex;
    flex-direction: column;
    padding-left: 128px;
    padding-right: 64px;
}
.burger-btn {
    height: 10px;
}
.name {
    margin-top: 0;
    margin-left: 0;
}
}