body {
    display: flex;
    flex-direction: column;
font-family: 'Roboto';
margin: 0;
min-height: 100dvh;
}
main {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}
.main-header {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
position: fixed;
width: 768px;
height: 100dvh;
left: -768px;
top: 0;
background-color: #151B1F;
transition: transform .5s;
}
body.open .main-header {
transform: translateX(100%);
}
.slider {
    display: none;
}
.container {
    display: flex;
    justify-content: space-between;
}
.burger-btn {
    position: relative;
    width: 35px;
    height: 35px;
    margin-top: 16px;
    margin-left: 16px;
}
.sidebar {
    display: none;
}
.burger-btn span {
position: absolute;
width: 19px;
height: 0px;
left: 5.57px;
top: 16px;
border: 2px solid #151B1F;
border-radius: 5px;
transition: transform .5s, opacity .5s, background-color .5s;
}
.burger-btn span:nth-child(1) {
    transform: translateY(-10px);
}
.burger-btn span:nth-child(2) {
    transform: translateY(10px);
}
body.open .burger-btn span:nth-child(3) {
opacity: 0;
}
body.open .burger-btn span:nth-child(1) {
    transform: translateY(0) rotate(45deg);
    border: 2px solid white;
    }
body.open .burger-btn span:nth-child(2) {
    transform: translateY(0) rotate(-45deg);
    border: 2px solid white;
    }

.navigation {

    margin-top: 80px;
    margin-left: 28px;
    padding: 0;
}
.navigation-link {
    list-style-type: none;
    padding-bottom: 20px;
}
.navigation-link a:hover {
    color: #0EC261;
}
.navigation-link a {
text-transform: uppercase;
text-decoration: none;
font-weight: 500;
font-size: 22px;
line-height: 26px;
color: #FFFFFF;
}
.language {
font-weight: 700;
font-size: 13px;
line-height: 15px;
color: #0EC261;
text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
margin-bottom: 28px;
margin-left: 28px;


}
.social {
    display: flex;
    list-style-type: none;
    padding: 0;
    margin-top: 38px;
}
.social-link {
    padding-left: 28px;
}
.name {
margin: 16px 16px 8px;
font-weight: 700;
font-size: 30px;
line-height: 35px;
text-align: right;
color: #0EC261;
}
.city {
font-size: 14px;
color: #999999;
text-decoration: none;
vertical-align: middle;
margin: auto 0;
margin-left: 7px;
}
.geo {
width: 93.5px;
height: 18.33px;
left: 210px;
top: 60px;
display: flex;
align-self: flex-end;
margin-right: 16px;
}

.hero h2 {
font-size: 32px;
line-height: 100%;
color: #121212;
margin-left: 16px;
margin-bottom: 6px;

}
.hero span {
font-weight: 700;
font-size: 32px;
line-height: 100%;
color: #0EC261;
margin-left: 16px;
}
.hero p {
font-size: 18px;
line-height: 21px;
color: #999999;
margin-left: 16px;
margin-top: 16px;
margin-bottom: 32px;
}
.button-0 {

width: 100%;
height: 50px;
left: 0px;
top: 273px;

font-size: 18px;
line-height: 21px;
text-align: center;

color: #FFFFFF;

background: linear-gradient(90deg, #0EC261 2.61%, #039F67 112.6%);
background-blend-mode: darken;
border: none;
}
.main-footer {
flex-shrink: 0;
margin: 0;
background: #151B1F;
display: flex;
flex-direction: column;
}
.phone {
font-weight: 400;
font-size: 13px;
line-height: 15px;
color: #0EC261;
order: 0;
margin: 16px 16px 8px;
align-self: flex-end;
}
.copyright {
font-size: 13px;
line-height: 15px;
color: #EEEEEE;
order: 1;
margin: 0 16px 16px;
align-self: flex-end;
}
@media (min-width: 768px) {
.sidebar {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: absolute;
    width: 86px;
    background-color: #151B1F;
    height: 100dvh;
}
.burger-btn1 span {
    display: block;
    position: absolute;
    margin-top: 20px;
    margin-left: 15px;
    width: 35px;
    height: 0px;
    left: 5.57px;
    top: 16px;
    border: 2px solid white;
    border-radius: 5px;
    transition: transform .5s, opacity .5s, background-color .5s;
    }
    .burger-btn1 span:nth-child(1) {
        transform: translateY(-10px);
    }
    .burger-btn1 span:nth-child(2) {
        transform: translateY(10px);
    }
    body.open .burger-btn1 span:nth-child(3) {
    opacity: 0;
    }
    body.open .burger-btn1 span:nth-child(1) {
        transform: translateY(0) rotate(45deg);
        border: 2px solid white;
        }
    body.open .burger-btn1 span:nth-child(2) {
        transform: translateY(0) rotate(-45deg);
        border: 2px solid white;
        }
    .navigation {
        margin-left: 114px;
        }
    .main-header {
        width: 1024px;
        left: -1024px;
    }
    .social {
        margin-left: 114px;
    }

}